# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/

# Virtual environments
venv/
env/
.env

# Large files
*.pt
*.pth
*.onnx
data/
runs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs and temp
*.log
*.tmp
